:root{
    background-color: hsl(212, 45%, 89%);
    --image-background: src('./images/image-qr-code.png')
}   

body{
    height: 90vh;
}

.center-block{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-card{
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px
}

/* Mobile Version */
@media screen and (max-width: 375px){
    #container-card{
        width: 300px;
    }
}
    

#container-qr{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

/* Mobile Version */
@media screen and (max-width: 375px){
    #container-qr{
        width: 300px;
        height: 300px;
    }
}
#image-qr{
    width: 90%;
    height: 90%;
    background-image: var(--image-background);
    margin: 0 auto;
    border-radius: 10px;
}

.container-text{
    width: 80%;
    margin-top: -60px;
    padding: 40px;
    font-family: Outfit, sans-serif;
}

.h1-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

.span-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
}
.attribution{
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}